

<div class="container mt-5">
	<div class="row">
		<div class="col-8 mx-auto">
			<h2 class="articles-index-title">プラン一覧</h2>
			<table class="table table-hover">
				<thead class="index-title">
					<tr>
						<th scope="col">タイトル</th>
						<th scope="col">写真</th>
						<th scope="col">投稿者</th>
						<th scope="col"></th>
						<th scope="col">カテゴリー</th>
					</tr>
				</thead>
				<tbody class="index-body">
					<% @articles.each do |article| %>
					<tr>
						<td class="article-title">
							<%= link_to truncate(article.title, length: 12), article_path(article) %>
						</td>

						<td>
							<%= link_to article_path(article) do %>
							<%= attachment_image_tag article.article_images.first, :image, :fill, 100, 100, format: 'jpeg' %>
							<% end %>
						</td>

						<td class="article-username">
							<%= link_to article.user.name, user_path(article.user_id) %>
						</td>

						<!-------------いいね機能-------------->
						<td>
							<span id='favorites_buttons_<%= article.id %>'>
								<%= render partial: "favorites/favorite", locals: { article: article } %>
							</span>
						</td>
						<!-------------いいね機能-------------->

						<td><%= article.category.name %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="pagination" style="justify-content: center;">
				<%= paginate @articles %>
			</div>
		</div>
	</div>
</div>
