

<div class="container mt-5">
	<div class="row">
		<div class="col-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<%= @article.title %>
					</h5>

					<div class="card-text">
						<%= simple_format @article.body %><!-- simple_formatで改行が反映される -->
					</div>

					<% if @article.user != current_user %>
					<!-- ログインしているユーザーは自分のプランの詳細画面に"このプランの投稿者を見る"を表示させない -->
					<div class="article-planer">
						<%= link_to "このプランの投稿者を見る", user_path(@article.user.id) %>
					</div>
					<% end %>

					<p class="card-text">
						<div class="slider-area2">
							<div class="slider2">
								<% if @article.article_images.present? %>
								<% @article.article_images.each do |article_image| %>
								<%= attachment_image_tag article_image, :image, :fill, 600, 550, format: 'jpeg', class:"img-fluid mx-auto"  %>
								<% end %>
								<% end %>
							</div>
						</div>
					</p>

					<p class="card-text">
						<small class="text-muted">
							投稿日：<%= @article.created_at.strftime("%Y-%m-%d") %>
						</small>
					</p>

					<span id='favorites_buttons_<%= @article.id %>'>
						<%= render partial: "favorites/favorite", locals: { article: @article } %>
					</span>

					<% if @article.user == current_user %>
					<!-- 記事を投稿した人とログインしている人が同じならば編集と削除を表示させる -->
					<div class="article-button" style="text-align: right;">
						<%= link_to "編集", edit_article_path(@article), class: "btn btn-success" %>
						<%= link_to "削除", article_path(@article), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
					</div>
					<% end %>

				</div>
			</div>
		</div>

		<!---------------コメント機能-------------------->

		<div class="col-6">
			<div class="comment-form">
				<h2 class="comment">コメント</h2>
				<!--引数の順番は親から子へ-->
				<%= form_for ([@article,@comment]) do |f| %>

				<div class="form-group">
					<%= f.text_area :content, size: "20x5", class: "form-control", placeholder: "コメントしてみよう" %>
				</div>

				<div class="comment-button" style="margin-bottom: 35px">
					<%= f.submit "コメントする", class: "btn btn-info btn-block" %>
				</div>
				<%end%>
			</div>

			<h2 class="comment-index">コメント一覧</h2>

			<div id="comment_lists">
				<%= render 'comment_list' %>
			</div>

			<div class="more">
				<div class="more-btn">
					<%= link_to_next_page @comments, 'もっと見る', remote: true, id: 'view_more', class: "btn btn-primary btn-block" %>
				</div>
			</div>
		</div>

		<!---------------コメント機能-------------------->

	</div>
</div>