<section class="title">
	<div class="body">
		<div class="container mt-5">
			<h2 class="page-title">ユーザー一覧</h2>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<% @users.each do |user| %>
			<div class="col-3">
				<div class="card" style="border-bottom: solid 4px lightgray">
					<div class="card-content">
						<div class="card-image">
							<figure class="image">
								<%= link_to user_path(user) do %>
								<%= attachment_image_tag user, :profile_image, :fill, 260, 260, fallback: "no-image.png", class:"img-fluid" %>
								<% end %>
							</figure>
						</div>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<div class="title"><%= link_to user.name, user_path(user) %></div>
							</div>
						</div>
						<div class="article-count">
							投稿記事数：<%= user.articles.count %> 件
						</div>
						<div class="favorites">
							<% unless user == current_user %>
							<% if current_user.following?(user) %>
							<%= link_to 'フォロー中', unfollow_path(user.id), method: :POST, class: "btn btn-primary" %>
							<% else %>
							<%= link_to "フォローする", follow_path(user.id), method: :POST, class: "btn btn-primary" %>
							<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>