<div class="row relative">
	<div class="slider1">
		<%= image_tag "night-bg.jpg", class: "top-search-bg" %>
		<%= image_tag "green-bg.jpg", class: "top-search-bg" %>
		<%= image_tag "desert-bg.jpg", class: "top-search-bg" %>
	</div>

	<h2 class="slide-copy">
		これからあなたは週末が待ち遠しくなる
		<p>dokoiku▶︎はおでかけプランをシェアするサイトです</p>
	</h2>

	<div class="top-plan-seach">
		<%= form_tag articles_path,method: :get, enforce_utf8: false do %>

		<div class="input-group">
			<%= text_field_tag :q, params[:q], class: "form-control", placeholder: "プランタイトル" %>
			<span class="input-group-btn">
				<%= button_tag "検索", :title => nil, class: "btn btn-primary" %>
			</span>
		</div>

		<% end %>
	</div>
</div>


<div class="container mt-5">
	<div class="row">
		<div class="col-3">
			<h3 class="category-header">カテゴリーから探す</h3>
			<div class="row">
				<% @categories.each do |category| %>
				<div class="col-6 category">
					<div class="category-title" style="margin-bottom: 7px;">
						<%= link_to category_path(category.id) do %>
						<%= attachment_image_tag category, :category_image, :fill, 106, 100, format: "png" %>
						<p><%= category.name %></p>
						<% end %>
					</div>
				</div>
				<% end %>
			</div>
		</div>

		<div class="col-6">
			<h3 class="new-articles">新着プラン</h3>
			<% @articles.each do |article| %>
			<div class="card" style="box-shadow: 0 0 8px gray;">
				<div class="card-body">
					<h6 class="card-title">
						<div class="top-user">
							<%= link_to user_path(article.user_id) do %>
							<%= attachment_image_tag article.user, :profile_image, :fill, 50, 50, fallback: "no-image.png", size: "50x50", format: "jpeg", class:"img-fluid mx-auto" %>
							<% end %>

							<%= link_to user_path(article.user.id), {class: "top-user-name"} do %>
							<%= article.user.name %>
							<% end %>

							<time datetime="<%= @article_created_at %>" style="font-size: 13px; margin-left: 250px; color: rgba(0,0,0,0.54);">
								<%= time_ago_in_words(article.created_at) %>前
							</time>
						</div>
					</h6>


					<div class="card-plan-image relative">
						<% if article.article_images.present? %>
						<%= link_to article_path(article) do %>
						<%= attachment_image_tag article.article_images.first, :image, :fill, 350, 300, format: 'jpeg', class:"img-fluid mx-auto"  %>
						<% end %>
						<% end %>
						<p class="new-articles-title"><%= article.title %></p>
						<p class="new-articles-body"><%= truncate(article.body, length: 15) %></p>
					</div>
				</div>
			</div>
			<% end %>
			<div class="top-pagination">
				<%= paginate @articles %>
			</div>
		</div>

		<div class="col-3">
			<h3 class="article-ranks">いいねランキング</h3>
			<% @all_ranks.each.with_index(1) do |article, i| %>
			<table class="table table-hover">
				<thead class="ranks-title">
					<tr>
						<th scope="col">第 <%= i %> 位</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>

				<tbody class="ranks-body">
					<tr>
						<td>
							<%= link_to article_path(article) do %>
							<%= attachment_image_tag article.article_images.first, :image, :fill, 70, 70, format: 'jpeg' %>
							<% end %>
						</td>
						<td>
							<div class="ranks-body-category">
								<i class="fas fa-flag"></i>：<%= article.category.name %>
							</div>

							<div class="ranks-body-article-body">
								<i class="fas fa-pen"></i>：<%= truncate(article.body, length: 8) %>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<% end %>
		</div>
	</div>
</div>