

<div class="container mt-5">
	<div class="row">
		<div class="col-6 mx-auto">
			<%= form_with model: @category, local: true do |f| %>

			<%= f.label :name, 'カテゴリー名' %><br>
			<%= f.text_field :name, class:'form-control' %><br>

			<%= f.label :category_image, "カテゴリー画像" %>
			<%= f.attachment_field :category_image, class: "form-control" %>

			<%= f.submit '保存する', class: 'btn btn-primary btn-block' %>
			<% end %>
		</div>
	</div>
</div>

