
<div class="container mt-5">
	<div class="row">
		<div class="col-6">
			<h2 class="categories-index-add-title">カテゴリーの追加</h2>
			<%= form_with model: @category, local: true do |f| %>

			<%= f.text_field :name, class:'form-control', placeholder: "カテゴリーを追加しよう" %><br>

			<%= f.submit '追加する', class: 'btn btn-primary btn-block' %>
			<% end %>
		</div>
		<div class="col-6">
			<h2 class="categories-index-title">カテゴリー一覧</h2>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th style="text-align: center;">カテゴリー名</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @categories.each do |category| %>
					<tr>
						<td>
							<%= attachment_image_tag category, :category_image, :fill, 50, 50, format: "png" %>
						</td>
						<td style="text-align: center; line-height: 50px;">
							<%= category.name %>
						</td>
						<td style="line-height: 50px;">
							<%= link_to '編集', edit_category_path(category), class: 'btn-sm btn-primary' %>
						</td>
						<td style="line-height: 50px;">
							<%= link_to '削除', category_path(category), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn-sm btn-danger' %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

